# Dependencies
node_modules/

# Coverage
coverage/
.nyc_output/
*.lcov

# Environment
.env
.env.*

# OS files
.DS_Store

# Logs
*.log

# IDE
.idea/
.vscode/
*.swp
*.swo

# npm
.npm
*.tgz

# eslint
.eslintcache
